@model IEnumerable<_3rdEyE.Models.vw_ParkingInOut_Detail>

@{
    ViewBag.Title = "Vehicle list";
}

@*Select2*@
<link href="~/Theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
@*DateTimePicker*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<!-- DataTablesExportable -->
<!--<link href="~/Content/ExportableDatatable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/ExportableDatatable/buttons.dataTables.min.css" rel="stylesheet" />-->
<!-- DataTables -->
<link rel="stylesheet" href="~/Theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
@{
    string ConvertToDateTimeString(DateTime? dateTime)
    {
        return String.Format("{0:yyyy/MM/dd HH:mm}", dateTime);
    }
    var now = DateTime.Now;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Parking Dashboard
        <small></small>
    </h1>
    <div class="breadcrumb">
        @*<button type="button" class="btn btn-block btn-info btn-sm">Info</button>*@
        @*<a class="btn btn-block btn-info btn-sm" href="/TemporaryVehicle/Create">Create</a>*@
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="overflow-x:scroll;">
                    <table id="data_table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Tr Id
                                </th>
                                <th>
                                    Vehicle
                                </th>
                                <th>
                                    Contact Number
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Demand Info
                                </th>
                                <th>
                                    Parking In Gate
                                </th>
                                <th>
                                    Parking In Time
                                </th>
                                <th>
                                    Bay (Building/No/WH/Time)
                                </th>
                                <th>
                                    Parking Out Gate
                                </th>
                                <th>
                                    Parking Out Time
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(m => m.BayAssign_IssueDateTime == null).ThenBy(m => m.BayAssign_IssueDateTime).ThenBy(m => m.In_IssueDateTime))
                            {
                                var remainingMin = ((item.BayAssign_IssueDateTime ?? now) - now).TotalMinutes;
                                <tr style='@(item.BayAssign_IssueDateTime != null && remainingMin > 10 ? "color:#196704;" :
                                    item.BayAssign_IssueDateTime != null && remainingMin <= 10 && remainingMin > 0 ? "color:orange;" :
                                    item.BayAssign_IssueDateTime != null && remainingMin < 0 ? "color:red;" :
                                    "" )'>
                                    <td>
                                        P @Html.DisplayFor(modelItem => item.PK_ParkingInOut)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                                    </td>
                                    <td>
                                        @(item.ContactNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParkingLocation_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParkingGateIn)
                                        <br />
                                        @Html.DisplayFor(modelItem => item.In_IssueDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParkingGateIn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.In_IssueDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BayAssign_LocationBuilding) / @Html.DisplayFor(modelItem => item.BayAssign_LoadingBay) / @Html.DisplayFor(modelItem => item.BayAssign_IssueDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParkingGateOut)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Out_IssueDateTime)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->

            </div>

        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</section>
<!-- /.content -->
@*Select2*@
<script src="~/Theme/bower_components/select2/dist/js/select2.min.js"></script>
@*DateTimePicker*@
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script>
    $(function () {
        //$('select').select2();
        //$('.form_datetime').datetimepicker({
        //    format: 'yyyy-mm-dd HH:ii P',
        //    todayBtn: 1,
        //    autoclose: 1,
        //});
    });
</script>
<!-- DataTablesExportable -->
<!--<script src="~/Scripts/Custom/DataTableExportable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.flash.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/jszip.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/pdfmake.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/vfs_fonts.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.html5.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.print.min.js"></script>-->
<!-- DataTables -->
<script src="~/Theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    @*function scroll(speed) {
        $('html, body').animate({ scrollTop: $(document).height() - $(window).height() }, speed, function () {
            $(this).animate({ scrollTop: 0 }, speed);
        });
    }
    speed = 10000 * @Model.Count();
    scroll(speed);
    setInterval(function () { scroll(speed) }, speed * 2);*@
</script>
<script>
    window.setTimeout(function () {
        location.reload();
    }, 1000 * 60);
    //$(function () {
    //    $('#data_table').DataTable({
    //        //"ordering": true,
    //        "paging": false,
    //        dom: 'Bfrtip',
    //        buttons: [
    //            'copy', 'csv', 'excel', 'pdf', 'print'
    //        ]
    //    });
    //});
    $('#data_table').DataTable({ "ordering": false, "paging": false });
</script>


