@model _3rdEyE.Models.InstantRequisition
@{
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>
        Bill for Instant Requisition
        <small></small>
    </h1>
    <div class="breadcrumb">
        @*<button type="button" class="btn btn-block btn-info btn-sm">Info</button>*@
        <a class="btn btn-block btn-info btn-sm" href="/InstantRequisition/IndexBy_PaymentReceiver">Go To List</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <form name="ThisForm" class="form-horizontal" method="post" action="/InstantRequisition/PayBill" enctype="multipart/form-data">
        <input name="PK_InstantRequisition" value="@Model.PK_InstantRequisition" style="display:none;" />
        <div class="row">
            <div class="col-md-4">
                <!-- Horizontal Form -->
                <div class="box box-info" >
                    <div class="col-md-12">
                        <div class="col-md-12">
                            @**@
                            <div class="col-md-6">
                                <label>বিলের নং:</label>
                                <label> EV @Model.PK_InstantRequisition.ToString("000000")</label>
                            </div>
                            <div class="col-md-6">
                                <label>বিলের টাইপ:</label>
                                <label>Expense Voucher</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @**@
                            <div class="col-md-6">
                                <label>বিলের তারিখ:</label>
                                <label>@Model.CreatedAt</label>
                            </div>
                            <div class="col-md-6">
                                <label>গাড়ি নং:</label>
                                <label>@Model.Vehicle.RegistrationNumber</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @**@
                            <div class="col-md-12">
                                <label>ড্রাইভারের নাম:</label>
                                <label>@Model.DriverName</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @**@
                            <div class="col-md-12">
                                <label>হেল্পারের তথ্য:</label>
                                <label>@Model.HelperInfo</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @**@
                            <div class="col-md-12">
                                <label>বুকিং ডিপো:</label>
                                <label>@Model.Depo.Name</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @**@
                            <div class="col-md-12">
                                <label>ডেস্টিনেসন ডিপো:</label>
                                <label>@Model.Depo1.Name</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @**@
                            <div class="col-md-12">
                                <label>মোট দূরত্ব:</label>
                                @{
                                    var allKilo = (Model.Distance_Empty1 != null ? Model.Distance_Empty1 : 0)
                                        + (Model.Distance_Loaded1 != null ? Model.Distance_Loaded1 : 0)
                                        + (Model.Distance_Loaded_8_To_12_Tons_Out1 != null ? Model.Distance_Loaded_8_To_12_Tons_Out1 : 0)
                                        + (Model.Distance_Loaded_12_To_25_Tons_Out1 != null ? Model.Distance_Loaded_12_To_25_Tons_Out1 : 0);
                                }
                                <label>@allKilo KM</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>নং</th>
                                            <th>খরচের খাত</th>
                                            <th>প্রক্রিত চাহিদা</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>
                                                    ১
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    Driver Allowance
                                                </label>
                                            </td>
                                            <td style="float:right;">
                                                <label>
                                                    @{
                                                        var TripBillDriver1 = Model.TripBillDriver1 != null ? Model.TripBillDriver1 : 0;
                                                    }
                                                    <b>@TripBillDriver1</b>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    ২
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    Helper Allowance
                                                </label>
                                            </td>
                                            <td style="float:right;">
                                                <label>
                                                    @{
                                                        var TripBillHelper1 = Model.TripBillHelper1 != null ? Model.TripBillHelper1 : 0;
                                                    }
                                                    <b>@TripBillHelper1</b>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    ৩
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    Bridge/Toll/Ferry
                                                </label>
                                            </td>
                                            <td style="float:right;">
                                                <label>
                                                    @{
                                                        var BridgeTollFerryCharge1 = Model.BridgeTollFerryCharge1 != null ? Model.BridgeTollFerryCharge1 : 0;
                                                    }
                                                    <b>@BridgeTollFerryCharge1</b>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    ৪
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    Others
                                                </label>
                                            </td>
                                            <td style="float:right;">
                                                <label>
                                                    @{
                                                        var other_all = (Model.AdvancedToDriver1 != null ? Model.AdvancedToDriver1 : 0) + (Model.StayCharge1 != null ? Model.StayCharge1 : 0) + (Model.EntertainmentACharge1 != null ? Model.EntertainmentACharge1 : 0) + (Model.RepairCharge1 != null ? Model.RepairCharge1 : 0) + (Model.OpenBodyCharge1 != null ? Model.OpenBodyCharge1 : 0);
                                                    }
                                                    <b>@other_all</b>
                                                </label>
                                            </td>
                                        </tr>
                                        @{
                                            var FuelExpence1 = Model.FuelExpence1 != null ? Model.FuelExpence1 : 0;
                                        }
                                        @if (Model.FuelExpenceGivenCashOrOil == true)
                                        {
                                            <tr>
                                                <td>
                                                    <label>
                                                        ৫
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        Fuel Cash
                                                    </label>
                                                </td>
                                                <td style="float:right;">
                                                    <label>
                                                        <b>@FuelExpence1</b>
                                                    </label>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td><label></label></td>
                                            <td>
                                                <label>
                                                    মোট টাকা
                                                </label>
                                            </td>
                                            <td style="float:right;">
                                                <label>
                                                    @{ var net_all = TripBillDriver1 + TripBillHelper1 + BridgeTollFerryCharge1 + other_all;
                                                        if (Model.FuelExpenceGivenCashOrOil == true)
                                                        {
                                                            net_all = TripBillDriver1 + TripBillHelper1 + BridgeTollFerryCharge1 + other_all + FuelExpence1;
                                                        }
                                                        else
                                                        {
                                                            net_all = TripBillDriver1 + TripBillHelper1 + BridgeTollFerryCharge1 + other_all;
                                                        }
                                                    }
                                                    <b>@net_all</b>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        @if (Model.Status == 0)
                        {
                            <input type="button" class="btn btn-facebook center-block" value="Confirm Bill Giving" onclick="TrySubmit()" />
                        }
                    </div>
                    <!-- /.box-footer -->
                </div>

                <!-- /.box -->
            </div>
        </div>
    </form>

</section>

