@model _3rdEyE.Models.ReceivingRequest
@*Select2*@
<link href="~/Theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
@*DateTimePicker*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />*@
<section class="content-header">
    <h1>
        Add New Receiving Request
        <small></small>
    </h1>
    <div class="breadcrumb">
        <a class="btn btn-block btn-info btn-sm" href="/ReceivingRequest/Index_Client">Back To List</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-5">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form name="ThisForm" class="form-horizontal" method="post" action="/ReceivingRequest/Create">
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Department*</label>
                            <div class="col-md-8">
                                @Html.DropDownList("FK_LocationDepartment", ViewBag.LocationDepartments as SelectList, "Select", new { @class = "form-control" })
                                <b class="errorMessage" data-category="errorMessage" name="error_FK_LocationDepartment"></b>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check = $('select[name=FK_LocationDepartment]').val();
                                            if (check == "") {
                                                formValidity = false;
                                                $('b[name=error_FK_LocationDepartment]').html("required.");
                                            }
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Receiving DateTime*</label>
                            <div class="col-md-8">
                                <input id="AssumedGateReceivingDateTime" name="AssumedGateReceivingDateTime" size="16" type="text" value="" readonly class="form-control">
                                <b class="errorMessage" data-category="errorMessage" name="error_AssumedGateReceivingDateTime"></b>
                            </div>
                            <script>
                                validatorArray.push(
                                    function () {
                                        var check = $('input[name=AssumedGateReceivingDateTime]').val();
                                        if (check == "") {
                                            formValidity = false;
                                            $('b[name=error_AssumedGateReceivingDateTime]').html("required.");
                                        }
                                    });
                            </script>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Carrer Type*</label>
                            <div class="col-md-8">
                                @Html.DropDownList("CarrerType", ViewBag.CarrerTypes as SelectList, "Select", new { @class = "form-control" })
                                <b class="errorMessage" data-category="errorMessage" name="error_CarrerType"></b>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check = $('select[name=CarrerType]').val();
                                            if (check == "") {
                                                formValidity = false;
                                                $('b[name=error_CarrerType]').html("required.");
                                            }
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Note</label>
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.Note_Creation, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_DepartmentName"></b>
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Item 1</label>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item1_Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item1_Note_Creation, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Item1_Note_Creation"></b>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check1 = $('input[name=Item1_Name]').val();
                                            var check2 = $('input[name=Item1_Note_Creation]').val();
                                            if (check1 != "" && check2 == "") {
                                                formValidity = false;
                                                $('b[name=error_Item1_Note_Creation]').html("required.");
                                            }
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Item 2</label>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item2_Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item2_Note_Creation, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Item2_Note_Creation"></b>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check1 = $('input[name=Item2_Name]').val();
                                            var check2 = $('input[name=Item2_Note_Creation]').val();
                                            if (check1 != "" && check2 == "") {
                                                formValidity = false;
                                                $('b[name=error_Item2_Note_Creation]').html("required.");
                                            }
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Item 3</label>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item3_Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item3_Note_Creation, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Item3_Note_Creation"></b>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check1 = $('input[name=Item3_Name]').val();
                                            var check2 = $('input[name=Item3_Note_Creation]').val();
                                            if (check1 != "" && check2 == "") {
                                                formValidity = false;
                                                $('b[name=error_Item3_Note_Creation]').html("required.");
                                            }
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Item 4</label>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item4_Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item4_Note_Creation, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Item4_Note_Creation"></b>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check1 = $('input[name=Item4_Name]').val();
                                            var check2 = $('input[name=Item4_Note_Creation]').val();
                                            if (check1 != "" && check2 == "") {
                                                formValidity = false;
                                                $('b[name=error_Item4_Note_Creation]').html("required.");
                                            }
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Item 5</label>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item5_Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.Item5_Note_Creation, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Item5_Note_Creation"></b>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check1 = $('input[name=Item5_Name]').val();
                                            var check2 = $('input[name=Item5_Note_Creation]').val();
                                            if (check1 != "" && check2 == "") {
                                                formValidity = false;
                                                $('b[name=error_Item5_Note_Creation]').html("required.");
                                            }
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="button" class="btn btn-info pull-right" value="Save" onclick="TrySubmit()" />
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@*Select2*@
<script src="~/Theme/bower_components/select2/dist/js/select2.min.js"></script>
@*DateTimePicker*@
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
@*<script src="~/Scripts/bootstrap-datepicker.min.js"></script>*@
<script>
    $(function () {
        $('select[name=FK_LocationDepartment]').select2();

        var today = new Date();
        var _startDate = (today.getMonth() + 1) + '/' + (today.getDate() + 0) + '/' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();// 13:05'//today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var _endDate = (today.getMonth() + 1) + '/' + (today.getDate() + 2) + '/' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();// 13:05'//today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        $('#AssumedGateReceivingDateTime').datetimepicker({
            format: 'yyyy-mm-dd HH:ii P',
            //format: 'yyyy-mm-dd',
            //setDate: new Date(),
            //weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            //todayHighlight: 1,
            //startView: 2,
            //forceParse: 0,
            //showMeridian: 0
            //startDate: '+0d',
            startDate: new Date(_startDate),
            endDate: new Date(_endDate),
        });
    });
</script>