@model IEnumerable<_3rdEyE.Models.ReceivingRequest>
@{
    var RolePermissionList = (List<_3rdEyE.ManagingTools.Permission>)Session["RolePermissionList"];
}

@*DateTimePicker*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
@*Select2*@
<link href="~/Theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
<!-- DataTablesExportable -->
<link href="~/Content/ExportableDatatable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/ExportableDatatable/buttons.dataTables.min.css" rel="stylesheet" />
@{
    string ConvertToDateTimeString(DateTime? dateTime)
    {
        return String.Format("{0:yyyy/MM/dd HH:mm}", dateTime);
    }
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Receiving Request List : Raiser View
        <small></small>
    </h1>
    <div class="breadcrumb">
        <a class="btn btn-block btn-info btn-sm" href="/ReceivingRequest/Create">Create New</a>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>

                <div class="row">
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-4">
                            <label class="col-md-3 control-label">Starting Date:</label>
                            <div class="input-group col-md-8">
                                <div class="col-md-12 input-append date form_datetime" data-link-field="dtp_input1">
                                    <input id="StartingDate" name="StartingDate" class="form-control col-md-12" type="text" value="@ViewBag.StartingDate" readonly="readonly" style="background-color: white;">
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="" style="display:none;" /><br />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-md-3 control-label">Ending Date:</label>
                            <div class="input-group col-md-8">
                                <div class="col-md-12 input-append date form_datetime" data-link-field="dtp_input1">
                                    <input id="EndingDate" name="EndingDate" class="form-control col-md-12" type="text" value="@ViewBag.EndingDate" readonly="readonly" style="background-color: white;">
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" style="display:none;" /><br />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-md-3 control-label">Tracking Id:</label>
                            <div class="col-md-8">
                                <input id="TrackingId" name="TrackingId" value="@ViewBag.TrackingId" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-4">
                            <label class="col-md-3 control-label">Location:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("FK_Location", ViewBag.Locations as SelectList, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-md-3 control-label">Status:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("Status", ViewBag.Statuses as SelectList, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-4">
                            <button class="btn btn-facebook" onclick='getData()'>Get Data</button>
                        </div>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body" style="overflow-x:scroll; height: 500px; overflow-y: scroll;">
                    <table id="data_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tr ID</th>
                                <th>Client</th>
                                <th>Department</th>
                                <th>CarrerType</th>
                                <th>Assumed Receiving Time</th>
                                <th>Note-Creation</th>
                                <th>item 1</th>
                                <th>item 2</th>
                                <th>item 3</th>
                                <th>item 4</th>
                                <th>item 5</th>
                                <th>Gate Receiving DateTime</th>
                                <th>Client Receiving DateTime</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="detail_tbody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TrackingID</td>
                                    <td>@item.AppUser.FullName</td>
                                    <td>@item.LocationDepartment.DepartmentCode</td>
                                    <td>@item.CarrerType</td>
                                    <td>@item.AssumedGateReceivingDateTime</td>
                                    <td>@item.Note_Creation</td>
                                    <td><b>@item.Item1_Status</b> <br /> @item.Item1_Name - @item.Item1_Note_Creation - @item.Item1_GateReceivingDoccumentNumber - @item.Item1_Note_FinalReceival</td>
                                    <td><b>@item.Item2_Status</b> <br /> @item.Item2_Name - @item.Item2_Note_Creation - @item.Item2_GateReceivingDoccumentNumber - @item.Item2_Note_FinalReceival</td>
                                    <td><b>@item.Item3_Status</b> <br /> @item.Item3_Name - @item.Item3_Note_Creation - @item.Item3_GateReceivingDoccumentNumber - @item.Item3_Note_FinalReceival</td>
                                    <td><b>@item.Item4_Status</b> <br /> @item.Item4_Name - @item.Item4_Note_Creation - @item.Item4_GateReceivingDoccumentNumber - @item.Item4_Note_FinalReceival</td>
                                    <td><b>@item.Item5_Status</b> <br /> @item.Item5_Name - @item.Item5_Note_Creation - @item.Item5_GateReceivingDoccumentNumber - @item.Item5_Note_FinalReceival</td>
                                    <td>@item.GateReceivingDateTime</td>
                                    <td>@item.FinalReceivingDateTime</td>
                                    <td>@item.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- DataTablesExportable -->
<script src="~/Scripts/Custom/DataTableExportable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.flash.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/jszip.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/pdfmake.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/vfs_fonts.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.html5.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.print.min.js"></script>
<!-- page script -->
@*DateTimePicker*@
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
@*Select2*@
<script src="~/Theme/bower_components/select2/dist/js/select2.min.js"></script>
<script>
    $(function () {
        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd HH:ii P',
            todayBtn: 1,
            autoclose: 1,
        });
        $('select').select2();
        @if (Model.Count() > 0)
        {
        <text>
        makeDataTable();
        </text>
        }
    });
</script>
<script>
    function makeDataTable() {
        var table = $('#data_table').DataTable({
            //scrollX: true,
            paging: false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                },
                {
                    extend: 'print',
                    title: 'Event Report [@ViewBag.StartingDate - @ViewBag.EndingDate]',
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', '15px');
                            }
                },
                {
                    extend: 'excel'
                }
            ],
        });
    }
</script>
<script>
    function getData() {
        var StartingDate = $('Input[name=StartingDate]').val();
        var EndingDate = $('Input[name=EndingDate]').val();
        if (StartingDate == '' || EndingDate == '') {
            alert("Please, Select starting date and ending date.");
            return;
        }
        var TrackingId = $('Input[name=TrackingId]').val();
        var FK_Location = $('#FK_Location').find(":selected").val();
        var Status = $('#Status').find(":selected").val();
        var _url = '/ReceivingRequest/Index?StartingDate=' + StartingDate + '&EndingDate=' + EndingDate + '&TrackingId=' + TrackingId
            + '&FK_Location=' + FK_Location + '&Status=' + Status;
        console.log(_url)
        window.location = _url;
    }
</script>
