@model _3rdEyE.Models.MapLocation
@{
    ViewBag.Title = "Create";
}

@*Date picker*@
<!--<link href="~/Theme/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />-->
@*Select2*@
<!--<link href="~/Theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />-->

<section class="content-header">
    <h1>
        Create New Map Location
        <small></small>
    </h1>
    <div class="breadcrumb">
        @*<button type="button" class="btn btn-block btn-info btn-sm">Info</button>*@
        <a class="btn btn-block btn-info btn-sm" href="@System.Web.HttpContext.Current.Request.UrlReferrer">Back To List</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Map Location Information</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form name="ThisForm" class="form-horizontal" method="post" action="/MapLocation/Edit">
                    <input name="PK_MapLoaction" value="@Model.PK_MapLoaction" style="display:none;" />
                    @*Name*@
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name*</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Name"></b>
                            </div>
                            <script>
                                validatorArray.push(
                                    function () {
                                        var check = $('input[name=Name]').val();
                                        if (check == "") {
                                            formValidity = false;
                                            $('b[name=error_Name]').html("Name is required.");
                                        }
                                    });
                            </script>
                        </div>
                    </div>
                    @*Latitude*@
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Latitude*</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Latitude"></b>
                            </div>
                            <script>
                                validatorArray.push(
                                    function () {
                                        var check = $('input[name=Latitude]').val();
                                        if (check == "") {
                                            formValidity = false;
                                            $('b[name=error_Latitude]').html("Latitude is required.");
                                        }
                                    });
                            </script>
                        </div>
                    </div>
                    @*Longitude*@
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Longitude*</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Longitude"></b>
                            </div>
                            <script>
                                validatorArray.push(
                                    function () {
                                        var check = $('input[name=Longitude]').val();
                                        if (check == "") {
                                            formValidity = false;
                                            $('b[name=error_Longitude]').html("Longitude is required.");
                                        }
                                    });
                            </script>
                        </div>
                    </div>
                    <div class="box-footer">
                        @*<a class="btn btn-default" href="/DepoGroup/Index">Back To List</a>*@
                        <input type="button" class="btn btn-info pull-right" value="Edit" onclick="TrySubmit()" />
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@*Date Picker*@
<script src="~/Theme/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
@*Select2*@
<script src="~/Theme/bower_components/select2/dist/js/select2.min.js"></script>
<script>
    $(function () {
        //$('select[name=FK_Depo]').select2();
    });
</script>

@*<script>
            $(function () {
                $('input[type=date]').datepicker({
                    autoclose: true,
                    format: "dd/mm/yyyy",
                    orientation: "top auto",
                    startView: 2
                });
            });
    </script>*@