@model Tuple<_3rdEyE.Models.RequisitionTrip, List<_3rdEyE.Models.RequisitionTrip>>
<!-- DataTables -->
<link rel="stylesheet" href="~/Theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
@*DateTimePicker*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
@*Select2*@
<link href="~/Theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Assign Requisition-Vehicle
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <form name="ThisForm" class="form-horizontal" method="post" action="/Requisition/ReassignTrip_Vehicle" enctype="multipart/form-data">
        <input id="PK_RequisitionTrip_SL" name="PK_RequisitionTrip_SL" value="0" style='display:none;' />

        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-header with-border">
                                <h3 class="box-title">#@Model.Item1.TrackingID</h3>
                            </div>
                            @*<div class="box-body col-md-6 col-md-offset-6">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-4 control-label">Approved Demand Tracking ID</label>
                                        <div class="col-md-3">
                                            <input name="ApprovedDemandTrackingID" id="ApprovedDemandTrackingID" class="form-control">
                                            <input name="demandPKs" id="demandPKs" style="display:none;">
                                        </div>
                                    </div>
                                </div>*@
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="table_req_trip_base" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style='display:none'>
                                                        PK_RequisitionTrip
                                                    </th>
                                                    <th>
                                                        Tracking ID
                                                    </th>
                                                    <th>
                                                        PRG Type
                                                    </th>
                                                    <th>
                                                        Raiser
                                                    </th>
                                                    <th>
                                                        From
                                                    </th>
                                                    <th>
                                                        To
                                                    </th>
                                                    <th>
                                                        Vehicle Type
                                                    </th>
                                                    <th>
                                                        Using Space
                                                    </th>
                                                    <th>
                                                        Required Time
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_req_trip_base">
                                                <tr>
                                                    <td style='display:none'>
                                                        <input name="PK_RequisitionTrip_0" value="@Model.Item1.PK_RequisitionTrip" />
                                                    </td>
                                                    <td>
                                                        @Model.Item1.TrackingID
                                                    </td>
                                                    <td>
                                                        @Model.Item1.Requisition.PRG_Type
                                                    </td>
                                                    <td>
                                                        @Model.Item1.Requisition.AppUser.FullName
                                                    </td>
                                                    <td>
                                                        @Model.Item1.Requisition.Location.Name &nbsp; @Model.Item1.Requisition.StartingLocation
                                                    </td>
                                                    <td>
                                                        @Model.Item1.Requisition.Location1.Name &nbsp; @Model.Item1.Requisition.FinishingLocation
                                                    </td>
                                                    <td>
                                                        @Model.Item1.Requisition.RequisitionVehicleType.Title_English
                                                    </td>
                                                    <td>
                                                        @Model.Item1.WantedCount
                                                    </td>
                                                    <td>
                                                        @Model.Item1.Requisition.PossibleJourneyStartDateTime
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row trip_link_block" style='@(Model.Item1.IsParent==true ? "":"display:none;")'>
                                    <div class="col-md-12">
                                        <h4>Linked Trip</h4>
                                        <table id="table_req_trip_temp" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style='display:none'>
                                                        PK_RequisitionTrip
                                                    </th>
                                                    <th>
                                                        Tracking ID
                                                    </th>
                                                    <th>
                                                        PRG Type
                                                    </th>
                                                    <th>
                                                        Raiser
                                                    </th>
                                                    <th>
                                                        From
                                                    </th>
                                                    <th>
                                                        To
                                                    </th>
                                                    <th>
                                                        Vehicle Type
                                                    </th>
                                                    <th>
                                                        Using Space
                                                    </th>
                                                    <th>
                                                        Required Time
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_req_trip_temp">
                                                @foreach (var item in Model.Item2)
                                                {
                                                    <tr>
                                                        <td style='display:none'>
                                                            @item.PK_RequisitionTrip
                                                        </td>
                                                        <td>
                                                            @item.TrackingID
                                                        </td>
                                                        <td>
                                                            @item.Requisition.PRG_Type
                                                        </td>
                                                        <td>
                                                            @item.Requisition.AppUser.FullName
                                                        </td>
                                                        <td>
                                                            @item.Requisition.Location.Name &nbsp; @item.Requisition.StartingLocation
                                                        </td>
                                                        <td>
                                                            @item.Requisition.Location1.Name &nbsp; @item.Requisition.FinishingLocation
                                                        </td>
                                                        <td>
                                                            @item.Requisition.RequisitionVehicleType.Title_English
                                                        </td>
                                                        <td>
                                                            @item.WantedCount
                                                        </td>
                                                        <td>
                                                            @item.Requisition.PossibleJourneyStartDateTime
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-header">
                                <h3 class="box-title">Vehicle Information</h3>
                            </div>
                            <div class="box-body">
                                <div class="row" style="padding:10px;">
                                    <div class="col-md-5" style="border: 1px dotted olive;">
                                        <h4>Inside Available Vehicle</h4>
                                        <table id="table_internal_available_vehicles" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style='display:none;'>
                                                        FK_Vehicle
                                                    </th>
                                                    <th>
                                                        Vehicle
                                                    </th>
                                                    <th>
                                                        Available From
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_internal_available_vehicles"></tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-5 col-md-offset-1" style="border: 1px dotted orange; padding-bottom:20px;">
                                        <h4>Search All Available Vehicle(Inside & Outside)</h4>
                                        <div class="form-group col-md-12">
                                            <div class="col-md-4">
                                                <input name="VehicleRegNum" id="VehicleRegNum" class="form-control" onfocusout="searchAllVehicleOutSide()">
                                            </div>
                                            <div class="col-md-8">
                                                <select name="SelectInternalVehicles" id="SelectInternalVehicles" class="form-control" onchange="addSelectedFromSelect()"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-header">
                                <h3 class="box-title">Additional Information</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="table_req_trip_conf" class="table table-bordered" style="border-collapse: collapse;">
                                            <tbody id="selected_tbody">
                                                <tr>
                                                    <td width="20%">
                                                        <input id="FK_Vehicle" name="FK_Vehicle" readonly="readonly" style='display:none; width:0%;' />
                                                        <label>Vehicle</label>
                                                        <br />
                                                        <span style="width:20%;" id="RegistrationNumber" name="RegistrationNumber"></span>
                                                    </td>
                                                    <td width="20%">
                                                        <label>On Hand At</label>
                                                        <input id="FinalWantedAtDateTime" name="FinalWantedAtDateTime" class="form_datetime form-control" style="width:100%;" type="text" value="" readonly>
                                                    </td>
                                                    <td width="20%">
                                                        <label>Driver ID</label>
                                                        <input id="Driver_Staff_ID" name="Driver_Staff_ID" readonly="readonly" style="width:100%;" onfocusout='addDriver()' />
                                                    </td>
                                                    <td width="20%">
                                                        <label>Driver Info</label>
                                                        <input id="Driver_Name" name="Driver_Name" readonly="readonly" style="width:100%;" placeholder="Driver Name" />
                                                        <input id="Driver_ContactNumber" name="Driver_ContactNumber" readonly="readonly" style="width:100%;" placeholder="Driver Mobile Number" />
                                                    </td>
                                                    <td width="20%">
                                                        <label>Assigning Note</label>
                                                        <br />
                                                        <input id="AssigningNote" name="AssigningNote" type="text" style="width:100%;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Transport Agency</label>
                                                        @Html.DropDownList("FK_TransportAgency", ViewBag.TransportAgency as SelectList, "Select", new { @class = "form-control" })
                                                    </td>
                                                    <td>
                                                        <label>Total Amount</label>
                                                        <input data-category="HiredTrip" id="TotalAmount" name="TotalAmount" type="number" style="width:100%;" min="0" readonly="readonly" />
                                                    </td>
                                                    <td>
                                                        <label>Commission</label>
                                                        <input data-category="HiredTrip" id="CommissionAmount" name="CommissionAmount" type="number" style="width:100%;" min="0" readonly="readonly" />
                                                    </td>
                                                    <td>
                                                        <label>Advance</label>
                                                        <input data-category="HiredTrip" id="AdvanceAmount" name="AdvanceAmount" type="number" style="width:100%;" min="0" readonly="readonly" />
                                                    </td>
                                                    <td>
                                                        <input type='button' value="Clear" onclick='removeSelected(this)' style="width:50%;" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <script>
                                validatorArray.push(
                                    function () {
                                        var check = $('#FK_Vehicle').val();
                                        if (check == '') {
                                            formValidity = false;
                                            alert("You must select a Vehicle.");
                                        }
                                    });

                                validatorArray.push(
                                    function () {
                                        var check = $('#FinalWantedAtDateTime').val();
                                        if (check == '') {
                                            formValidity = false;
                                            alert("You must give informaitn of On Hand At");
                                        }
                                    });
                                validatorArray.push(
                                    function () {
                                        var RegistrationNumber = $('#RegistrationNumber').html();
                                        if (RegistrationNumber.includes('OWN')) {
                                            var check = $('#Driver_Staff_ID').val();
                                            if (check == '') {
                                                formValidity = false;
                                                alert("You must give informaitn of Driver ID");
                                            }
                                        }
                                    });
                                validatorArray.push(
                                    function () {
                                        var RegistrationNumber = $('#RegistrationNumber').html();
                                        if (RegistrationNumber.includes('MHT') || RegistrationNumber.includes('DHT')) {
                                            var check = $('#Driver_Name').val();
                                            if (check == '') {
                                                formValidity = false;
                                                alert("You must give informaitn of Driver Name");
                                                return;
                                            }
                                            check = $('#Driver_ContactNumber').val();
                                            if (check == '') {
                                                formValidity = false;
                                                alert("You must give informaitn of Driver Mobile Number");
                                            }
                                        }
                                    });
                                validatorArray.push(
                                    function () {
                                        var RegistrationNumber = $('#RegistrationNumber').html();
                                        if (RegistrationNumber.includes('DHT')) {
                                            var TotalAmount = $('#TotalAmount').val();
                                            if (TotalAmount == '') {
                                                formValidity = false;
                                                alert("You must give informaitn of Total Amount");
                                            }
                                            else {
                                                var CommissionAmount = $('#CommissionAmount').val() != '' ? Number($('#CommissionAmount').val()) : 0;
                                                var AdvanceAmount = $('#AdvanceAmount').val() != '' ? Number($('#AdvanceAmount').val()) : 0;
                                                if (Number(TotalAmount) < (CommissionAmount + AdvanceAmount)) {
                                                    formValidity = false;
                                                    alert("Commission + Advance must be less than Total Amount.");
                                                }
                                            }
                                        }
                                    });
                            </script>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="button" class="btn btn-facebook center-block" onclick="validateAndTrySubmit()" value="Save" />
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </form>
</section>
@*MODAL Company START*@
<div id="modalPreload" class="modal  modal-" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color:transparent; margin-top:200px;">
            <img src="~/Content/Images/Preload.gif" />
        </div>
    </div>
</div>
<!-- DataTables -->
<script src="~/Theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
@*DateTimePicker*@
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
@*Select2*@
<script src="~/Theme/bower_components/select2/dist/js/select2.min.js"></script>
<script>
    var tracking_id_list = ['@Model.Item1.TrackingID'];
    var PK_RequisitionTrip_SL = 0;
    $(document).ready(function () {
        var today = new Date();
        var _startDate = (today.getMonth() + 1) + '/' + (today.getDate() + 0) + '/' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();// 13:05'//today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var _endDate = (today.getMonth() + 1) + '/' + (today.getDate() + 1) + '/' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();// 13:05'//today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        $('#FinalWantedAtDateTime').datetimepicker({
            //format: 'yyyy-mm-dd HH:ii P',
            format: 'yyyy-mm-dd HH:ii P',
            //setDate: new Date(),
            //weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            //todayHighlight: 1,
            //startView: 2,
            //forceParse: 0,
            //showMeridian: 0
            //startDate: '+0d',
            startDate: new Date(_startDate),
            endDate: new Date(_endDate),
        });
        $('select').select2();
        GetVehicles_Inside_Toward();
    });
</script>

<script>
    function show_trip_link_block() {
        $('.trip_link_block').show();
        $('.trip_link_trigger').hide();
        $('select').select2();
    }
    function getData() {
        var StartingDate = $('Input[name=StartingDate]').val();
        var EndingDate = $('Input[name=EndingDate]').val();
        if (StartingDate == '' || EndingDate == '') {
            alert("Please, Select starting date and ending date.");
        return;
        }
        var TrackingId = $('Input[name=TrackingId]').val();
        var FK_AppUser_Client = $('#FK_AppUser_Client').find(":selected").val();
        var FK_Location_From = $('#FK_Location_From').find(":selected").val();
        var FK_Location_To = $('#FK_Location_To').find(":selected").val();
        var url = '/Requisition/GetRequisitionTrips?StartingDate=' + StartingDate + '&EndingDate=' + EndingDate
            + '&FK_AppUser_Client=' + FK_AppUser_Client + '&FK_Location_From=' + FK_Location_From
            + '&FK_Location_To=' + FK_Location_To + '&TrackingId=' + TrackingId
            + '&PK_RequisitionTrip=' + @Model.Item1.PK_RequisitionTrip;

        $("#modalPreload").css("display", "block");
        $.ajax({
            traditional: true,
            type: "get",
            dataType: "json",
            contentType: "application/json",
            url: url,
            //data: JSON.stringify({ FK_Location: '' }),
            success: function (data) {
                console.log(data);
                $("#modalPreload").css("display", "none");
                var res = "";
                $("#tbody_req_trip_temp").html(res);
                if (data != 'NotFound') {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].PK_RequisitionTrip == @Model.Item1.PK_RequisitionTrip) {
                            continue;
                        }
                        var PossibleJourneyStartDateTime = new Date(parseInt(data[i].PossibleJourneyStartDateTime.replace("/Date(", "").replace(")/", "")));
                        res = res + "<tr>"
                            + "<td style='display:none'>" + data[i].PK_RequisitionTrip + "</td>"
                            + "<td>" + data[i].TrackingID + (data[i].IsForwarded == true ? "<<":"") + "</td>"
                            + "<td>" + data[i].PRG_Type + "</td>"
                            + "<td>" + data[i].Raiser + "</td>"
                            + "<td>" + data[i].From + "</td>"
                            + "<td>" + data[i].To + "</td>"
                            + "<td>" + data[i].RequisitionVehicleType + "</td>"
                            + "<td>" + data[i].WantedCount + "</td>"
                            + "<td>" + formatDateString_t1(data[i].PossibleJourneyStartDateTime) + "</td>"
                            + "<td><button type='button' onclick='addSelectedRequisitionTrip(this)'>add</button></td>"
                            + "</tr>";
                            + "</tr>";
                    }
                }
                $("#tbody_req_trip_temp").html(res);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Err on call");
            }
        });
    }
    function addSelectedRequisitionTrip(btn) {
        var currentRow = $(btn).closest("tr");
        var PK_RequisitionTrip = currentRow.find("td:eq(0)").text();
        var TrackingID = currentRow.find("td:eq(1)").text();
        var PRG_Type = currentRow.find("td:eq(2)").text();
        var Raiser = currentRow.find("td:eq(3)").text();
        var From = currentRow.find("td:eq(4)").text();
        var To = currentRow.find("td:eq(5)").text();
        var RequisitionVehicleType = currentRow.find("td:eq(6)").text();
        var WantedCount = currentRow.find("td:eq(7)").text();
        var PossibleJourneyStartDateTime = currentRow.find("td:eq(8)").text();

        if (tracking_id_list.indexOf(TrackingID) > -1) {
            alert(TrackingID + " is already added.");
            return;
        }
        tracking_id_list.push(TrackingID);
        PK_RequisitionTrip_SL = PK_RequisitionTrip_SL + 1;
        $("#PK_RequisitionTrip_SL").val(PK_RequisitionTrip_SL);

        var res = "";
        res = "<tr>";
        res = res + "<td style='display:none'>" + "<input name='PK_RequisitionTrip_" + PK_RequisitionTrip_SL + "' value='" + PK_RequisitionTrip + "' style='display:none'/>" + "</td>";
        res = res + "<td>" + currentRow.find("td:eq(1)").text() + "</td>";
        res = res + "<td>" + currentRow.find("td:eq(2)").text() + "</td>";
        res = res + "<td>" + currentRow.find("td:eq(3)").text() + "</td>";
        res = res + "<td>" + currentRow.find("td:eq(4)").text() + "</td>";
        res = res + "<td>" + currentRow.find("td:eq(5)").text() + "</td>";
        res = res + "<td>" + currentRow.find("td:eq(6)").text() + "</td>";
        res = res + "<td>" + currentRow.find("td:eq(7)").text() + "</td>";
        res = res + "<td>" + currentRow.find("td:eq(8)").text() + "</td>";
        res = res + "</tr>";
        $("#tbody_req_trip_base").append(res);
    }
    function GetVehicles_Inside_Toward() {
        $("#modalPreload").css("display", "block");
        $.ajax({
            traditional: true,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            url: "/Requisition/GetVehicles_Inside_Toward",
            data: JSON.stringify({ FK_Location: '@Model.Item1.Requisition.FK_Location_From' }),
            success: function (data) {
                $("#modalPreload").css("display", "none");
                console.log(data);
                var res = "";
                $("#tbody_internal_available_vehicles").html(res);
                for (var i = 0; i < data.list_inside.length; i++) {
                    res = res + "<tr>"
                        + "<td  style='display:none;'>" + data.list_inside[i].PK_Vehicle + "</td>"
                        + "<td>" + data.list_inside[i].OWN_MHT_DHT + " : " + data.list_inside[i].RegistrationNumber + " : " + data.list_inside[i].ContactNumber + "</td>"
                        + "<td>" + "Now" + "</td>"
                        + "<td><button type='button' onclick='addSelectedVehicle(this)'>add</button></td>"
                        + "</tr>";
                }
                for (var i = 0; i < data.list_toward.length; i++) {
                    if (data.list_toward[i].PossibleJourneyFinishDateTime != null) {
                        var PossibleJourneyFinishDateTime = new Date(parseInt(data.list_toward[i].PossibleJourneyFinishDateTime.replace("/Date(", "").replace(")/", "")));
                    }
                    res = res + "<tr>";
                    res = res + "<td  style='display:none;'>" + data.list_toward[i].PK_Vehicle + "</td>";
                    res = res + "<td>" + data.list_toward[i].OWN_MHT_DHT + " : " + data.list_toward[i].RegistrationNumber + " : " + data.list_toward[i].ContactNumber + "</td>";
                    if (data.list_toward[i].PossibleJourneyFinishDateTime != null) {
                        res = res + "<td>" + PossibleJourneyFinishDateTime.getFullYear() + "-" + (PossibleJourneyFinishDateTime.getMonth() + 1) + "-" + PossibleJourneyFinishDateTime.getDate() + " " + PossibleJourneyFinishDateTime.getHours() + ":" + PossibleJourneyFinishDateTime.getMinutes() + "</td>";
                    } else {
                        res = res + "<td>"+ "Undefined" + "</td>";
                    }
                    res = res + "<td><button type='button' onclick='addSelectedVehicle(this)'>add</button></td>";
                    res = res + "</tr>";
                }
                $("#tbody_internal_available_vehicles").html(res);
                var table_internal_available_vehicles = $('#table_internal_available_vehicles').DataTable({
                    paging: false,
                    dom: 'Bfrtip',
                    "scrollY": "200px",
                    "scrollCollapse": true,
                    "paging": false
                });

            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Err on call");
            }
        });
    }
    function searchAllVehicleOutSide() {
        var VehicleRegNum = $("#VehicleRegNum").val();
        if (VehicleRegNum != "") {
            $("#VehicleRegNum").attr("readonly", true);
            $.ajax({
                traditional: true,
                type: "post",
                dataType: "json",
                contentType: "application/json",
                url: "/Requisition/GetAllVehicleOutSide",
                data: JSON.stringify({ VehicleRegNum: VehicleRegNum }),
                success: function (data) {
                    var res = "";
                    $("#SelectInternalVehicles").html(res);
                    if (data.length == 0) {
                        res = "<option value=''>Not Found</option>";
                    } else {
                        res = "<option value=''>Select</option>";
                        for (var i = 0; i < data.length; i++) {
                            res = res + "<option value='" + data[i].PK_Vehicle + "' data-contact_number='" + data[i].ContactNumber + "'>" + data[i].OWN_MHT_DHT + " : " + data[i].RegistrationNumber + " : " + data[i].ContactNumber + "</option>";
                        }
                    }
                    $("#SelectInternalVehicles").html(res);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Err on call");
                }
            });
            $("#VehicleRegNum").removeAttr("readonly");
        }
    }
    function addSelectedVehicle(btn) {
        $('b[data-category=errorMessage]').html("");

        var currentRow = $(btn).closest("tr");
        var FK_Vehicle = currentRow.find("td:eq(0)").text();
        var RegistrationNumber = currentRow.find("td:eq(1)").text();
        $('#FK_Vehicle').val(FK_Vehicle);
        $('#RegistrationNumber').html(RegistrationNumber);

        $('#Driver_Staff_ID').val('');
        $('#Driver_Staff_ID').attr('readonly', 'readonly');
        $('#Driver_Name').val('');
        $('#Driver_ContactNumber').val('');
        $('#Driver_Name').attr('readonly', 'readonly');
        $('#Driver_ContactNumber').attr('readonly', 'readonly');
        $("[data-category='HiredTrip']").val('');
        $("[data-category='HiredTrip']").attr('readonly', 'readonly');

        if (RegistrationNumber.includes("OWN")) {
            $('#Driver_Staff_ID').removeAttr('readonly');
        } else if (RegistrationNumber.includes("MHT")) {
            $('#Driver_Name').removeAttr('readonly');
            $('#Driver_ContactNumber').removeAttr('readonly');
        }
        else if (RegistrationNumber.includes("DHT")) {
            $('#Driver_Name').removeAttr('readonly');
            $('#Driver_ContactNumber').removeAttr('readonly');
            $("[data-category='HiredTrip']").removeAttr('readonly');
        }
        else if ('@Model.Item1.PRG_Type_ForwaredTo' == '@ViewBag.CurrentUser.PRG_Type') {
            $('#Driver_Name').removeAttr('readonly');
            $('#Driver_ContactNumber').removeAttr('readonly');
            $("[data-category='HiredTrip']").removeAttr('readonly');
        }
    }
    function addSelectedFromSelect() {
        var FK_Vehicle = $('#SelectInternalVehicles :selected').val();
        var RegistrationNumber = $('#SelectInternalVehicles :selected').text();
        $('#FK_Vehicle').val(FK_Vehicle);
        $('#RegistrationNumber').html(RegistrationNumber);

        $('#Driver_Staff_ID').val('');
        $('#Driver_Staff_ID').attr('readonly', 'readonly');
        $('#Driver_Name').val('');
        $('#Driver_ContactNumber').val('');
        $('#Driver_Name').attr('readonly', 'readonly');
        $('#Driver_ContactNumber').attr('readonly', 'readonly');
        $("[data-category='HiredTrip']").val('');
        $("[data-category='HiredTrip']").attr('readonly', 'readonly');

        if (RegistrationNumber.includes("OWN")) {
            $('#Driver_Staff_ID').removeAttr('readonly');
        } else if (RegistrationNumber.includes("MHT")) {
            $('#Driver_Name').removeAttr('readonly');
            $('#Driver_ContactNumber').removeAttr('readonly');
        }
        else if (RegistrationNumber.includes("DHT")) {
            $('#Driver_Name').removeAttr('readonly');
            $('#Driver_ContactNumber').removeAttr('readonly');
            $("[data-category='HiredTrip']").removeAttr('readonly');
        }
        else if ('@Model.Item1.PRG_Type_ForwaredTo' == '@ViewBag.CurrentUser.PRG_Type') {
            $('#Driver_Name').removeAttr('readonly');
            $('#Driver_ContactNumber').removeAttr('readonly');
            $("[data-category='HiredTrip']").removeAttr('readonly');
        }
    }
    function removeSelected(btn) {
        $('#FK_Vehicle').val('');
        $('#RegistrationNumber').html('');
        $('#FinalWantedAtDateTime').val('');
        $('#Driver_Staff_ID').val('');
        $('#Driver_Name').val('');
        $('#Driver_ContactNumber').val('');
        $("[data-category='HiredTrip']").val('');
        $('#AssigningNote').val('');
    }
    function addDriver() {
        var DriverStaffID = $("#Driver_Staff_ID").val();
        if (DriverStaffID != "") {
            $("#Driver_Name").val("Loading..");
            $("#Driver_ContactNumber").val("Loading..");
            $.ajax({
                traditional: true,
                type: "post",
                dataType: "json",
                contentType: "application/json",
                url: "/Base/GetUserInfoFromHRIS_Json",
                data: JSON.stringify({ staffID: DriverStaffID }),
                success: function (data) {
                    if (data != null) {
                        $("#Driver_Staff_ID").attr('readonly', true)
                        $("#Driver_Name").attr('readonly', true)
                        $("#Driver_ContactNumber").attr('readonly', true)
                        $("#Driver_Name").val(data.NAME);
                        $("#Driver_ContactNumber").val(data.CONTACTNO);
                    } else {
                        $("#Driver_Name").val('Not Found/HRIS unavailable');
                        $("#Driver_ContactNumber").val('Not Found/HRIS unavailable');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Err on call");
                }
            });
        }
    }
    function validateAndTrySubmit() {
        //var newInternalTripInfo = "";
        //for (var i = 1; i <= maxSelection; i++) {
        //    //newInternalTripInfo = newInternalTripInfo + $('#tr_2_' + i).find("td:eq(0)").text() + "*" + $('#tr_2_1_' + i).val() + "*" + $('#tr_2_' + i).find("td:eq(4)").text() + "#";
        //    newInternalTripInfo = newInternalTripInfo + $('#tr_2_' + i).find("td:eq(0)").text() + "*" + $('#tr_2_' + i).find("td:eq(3) input").val() + "*" + $('#tr_2_' + i).find("td:eq(4)").text() + "#";
        //}
        //newInternalTripInfo = newInternalTripInfo.substring(0, newInternalTripInfo.length - 1);
        //$("#newInternalTripInfo").val(newInternalTripInfo);
        TrySubmit();
    }
</script>
