@model IEnumerable<_3rdEyE.Models.VehicleSharingBidding>
@{
    ViewBag.Title = "";
}

<!-- DataTables -->
<link rel="stylesheet" href="~/Theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
@*DateTimePicker*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Approved Bidding List
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-body col-md-12">
                    <div class="form-group col-md-3">
                        <label class="col-md-4 control-label">Starting Date:</label>
                        <div class="input-group col-md-8">
                            <div class="col-md-12 input-append date form_datetime" data-link-field="dtp_input1">
                                <input id="StartingDate" name="StartingDate" class="form-control col-md-12" type="text" value="@ViewBag.StartingDate" readonly="readonly" style="background-color: white;">
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <input type="hidden" id="dtp_input1" value="" style="display:none;" /><br />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-md-4 control-label">Ending Date:</label>
                        <div class="input-group col-md-8">
                            <div class="col-md-12 input-append date form_datetime" data-link-field="dtp_input1">
                                <input id="EndingDate" name="EndingDate" class="form-control col-md-12" type="text" value="@ViewBag.EndingDate" readonly="readonly" style="background-color: white;">
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" style="display:none;" /><br />
                        </div>
                    </div>
                </div>
                <div class="box-body col-md-12">
                    <div class="form-group col-md-4">
                        <button class="btn btn-facebook" onclick="getData()">Get Data</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Approved Bidding List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="data_table" class="table table-bordered table-striped" style="font-size:15px;">
                        <thead>
                            <tr>
                                <th>
                                    Tracking Number
                                </th>
                                <th>
                                    Transport Agency
                                </th>
                                <th>
                                    From
                                </th>
                                <th>
                                    To
                                </th>
                                <th>
                                    Price/Qty
                                </th>
                                <th>
                                    Approved Qty
                                </th>
                                <th>
                                    Assigned Qty
                                </th>
                                <th>
                                    Assign
                                </th>
                            </tr>
                        </thead>
                        <tbody id="detail_tbody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.VehicleSharing.TrackingID
                                    </td>
                                    <td>
                                        @item.AppUser.FullName
                                    </td>
                                    <td>
                                        @item.VehicleSharing.Depo.Name &nbsp;  @item.VehicleSharing.StartingLocation
                                    </td>
                                    <td>
                                        @item.VehicleSharing.Depo1.Name &nbsp;  @item.VehicleSharing.FinishingLocation
                                    </td>
                                    <td>
                                        @item.PricePerQuantity
                                    </td>
                                    <td>
                                        @item.ApprovedQuantity
                                    </td>
                                    <td>
                                        @item.VehicleSharingExternalTrips.Count()
                                    </td>
                                    <td>
                                        <a title="Assign" href="/VehicleSharing/VehicleSharingBiddingAssign?id=@item.PK_VehicleSharingBidding">Assign</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- DataTablesExportable -->
<script src="~/Scripts/Custom/DataTableExportable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.flash.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/jszip.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/pdfmake.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/vfs_fonts.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.html5.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.print.min.js"></script>
<!-- page script -->
@*DateTimePicker*@
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script>
    $(function () {
        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd HH:ii P',
            todayBtn: 1,
            autoclose: 1,
        });
        @if (Model.Count() > 0)
        {
        <text>
        makeDataTable();
        </text>
        }
    });
</script>
<script>
    function makeDataTable() {
        var table = $('#data_table').DataTable({
            paging: false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                },
                {
                    extend: 'print',
                    title: 'Event Report [@ViewBag.StartingDate - @ViewBag.EndingDate]',
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', '15px');
                            }
                },
                {
                    extend: 'excel'
                }
            ],
        });
    }
</script>
<script>
    function getData() {
        var StartingDate = $('Input[name=StartingDate]').val();
        var EndingDate = $('Input[name=EndingDate]').val();
        if (StartingDate == '' || EndingDate == '') {
            alert("Please, Select starting date and ending date.");
            return;
        }
        window.location = '/VehicleSharing/VehicleSharingApprovedBiddingIndex?StartingDate=' + StartingDate + '&EndingDate=' + EndingDate;
    }
</script>