@model IEnumerable<_3rdEyE.Models.TransportAgency>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositeAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeLicense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber_Primary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber_Secondary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeLicense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber_Primary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber_Secondary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PK_TransportAgency }) |
                @Html.ActionLink("Details", "Details", new { id=item.PK_TransportAgency }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PK_TransportAgency })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
