@model _3rdEyE.Models.VehicleSharingBidding
@{
    ViewBag.Title = "Create";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bidding Confirmation
        <small></small>
    </h1>
    <div class="breadcrumb">
        @*<button type="button" class="btn btn-block btn-info btn-sm">Info</button>*@
        <a class="btn btn-block btn-info btn-sm" href="/Home/Index">Go Back To Home</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <form name="ThisForm" class="form-horizontal" method="post" action="/VehicleSharingBidding/Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <h3 class="box-title">Requisition Bidding Confirmation</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body col-md-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>Agent ID: </label>&nbsp; @Html.DisplayFor(m => m.AppUser.UniqueIDNumber)
                                        </td>
                                        <td>
                                            <label>Agent Name: </label>&nbsp; @Html.DisplayFor(m => m.AppUser.FullName)
                                        </td>
                                        <td>
                                            <label>Contact: </label>&nbsp;@Html.DisplayFor(m => m.AppUser.ContactNumber)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>From: </label>&nbsp; @Html.DisplayFor(m => m.Depo.Name) @Html.DisplayFor(m => m.StartingLocation)
                                        </td>
                                        <td>
                                            <label>To: </label>&nbsp; @Html.DisplayFor(m => m.Depo1.Name) @Html.DisplayFor(m => m.FinishingLocation)
                                        </td>
                                        <td>
                                            <label>Trip Date-Time: </label> &nbsp; @Html.DisplayFor(m => m.PossibleJourneyStartDateTime)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Vehicle Type: </label>&nbsp; @Model.VehicleTypeLayer1_english : @Model.VehicleTypeLayer2_english : @Model.VehicleTypeLayer3_english
                                        </td>
                                        <td>
                                            <label>Approved Vehicle: </label>&nbsp; @Html.DisplayFor(m => m.ApprovedQuantity)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Rent Per Vehicle: </label>&nbsp; BDT &nbsp; @Html.DisplayFor(m => m.PricePerQuantity)
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">
                        @*<input type="button" class="btn btn-facebook center-block" value="Save" onclick="TrySubmit()" />*@
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </form>

</section>
<!-- /.content -->
