@model IEnumerable<_3rdEyE.Models.Report_VehicleOutOverStay>

@*Select2*@
<link href="~/Theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
@*DateTimePicker*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<!-- DataTablesExportable -->
<link href="~/Content/ExportableDatatable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/ExportableDatatable/buttons.dataTables.min.css" rel="stylesheet" />
@{
    string ConvertToDateTimeString(DateTime? dateTime)
    {
        return String.Format("{0:yyyy/MM/dd HH:mm}", dateTime);
    }
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Vehicle Waiting More Than 10 min
        <small></small>
    </h1>
    <div class="breadcrumb">
        @*<button type="button" class="btn btn-block btn-info btn-sm">Info</button>*@
        @*<a class="btn btn-block btn-info btn-sm" href="/TemporaryVehicle/Create">Create</a>*@
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>

                <div class="row">
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-3">
                            <label class="col-md-4 control-label">PRG Type*:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("PRG_Type", ViewBag.PRG_TypesDict as SelectList, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-md-4 control-label">Report Date*:</label>
                            <div class="col-md-8">
                                <input name="ReportDate" type="date" value="@ViewBag.ReportDate" class="form-control">
                                <label>max date 1 day before today</label>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-md-4 control-label">User Group:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("FK_Depo", ViewBag.Depoes as SelectList, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-md-4 control-label">Vehicle:</label>
                            <div class="col-md-8">
                                <input id="RegistrationNumber" name="RegistrationNumber" value="@ViewBag.RegistrationNumber" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-3">
                            <label class="col-md-4 control-label">Minute (Minimum):</label>
                            <div class="col-md-8">
                                <input id="MinimumStayMinute" name="MinimumStayMinute" value="@ViewBag.MinimumStayMinute" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="col-md-2">
                            <button class="btn btn-facebook" onclick="FilterByInputToRedirectView()">Filter</button>
                        </div>
                        @*<div class="col-md-2">
                                <button class="btn btn-facebook" onclick="FilterByInputToExportExcel()">Download Excel</button>
                            </div>*@
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body" style="overflow-x:scroll;">
                    <table id="data_table" class="table table-bordered table-striped">
                        <caption>Top 10 hired vehicle</caption>
                        <thead>
                            <tr>
                                <th>
                                    PRG Type
                                </th>
                                <th>
                                    User Group
                                </th>
                                <th>
                                    Vehicle
                                </th>
                                <th>
                                    Wait From
                                </th>
                                <th>
                                    Waiting Muniute
                                </th>
                                <th>
                                    Map
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(m => m.Vehicle.RegistrationNumber))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vehicle.Depo.PRG_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vehicle.Depo.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vehicle.RegistrationNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Start_UpdateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StayTimeMinute)
                                    </td>
                                    <td>
                                        @*<a target='_blank' href='/Report/ShowMapWithMarker?latitude1=@item.Start_Latitude&longitude1=@item.Start_Longitude&latitude2=@item.Finish_Latitude&longitude2=@item.Finish_Longitude'>Map Location</a>*@
                                        <a target='_blank' href='/Report/ShowMapWithMarker?latitude=@item.Start_Latitude&longitude=@item.Start_Longitude'>Map Location</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@*Select2*@
<script src="~/Theme/bower_components/select2/dist/js/select2.min.js"></script>
@*DateTimePicker*@
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script>
    $(function () {
        $('select').select2();
        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd HH:ii P',
            todayBtn: 1,
            autoclose: 1,
        });
    });
</script>
<!-- DataTablesExportable -->
<script src="~/Scripts/Custom/DataTableExportable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.flash.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/jszip.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/pdfmake.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/vfs_fonts.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.html5.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.print.min.js"></script>
<script>
    $(function () {
        $('#data_table').DataTable({
            "ordering": true,
            "paging": false,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<script>
    function FilterByInputToRedirectView() {
        var url = "/Data/TrackingOwnVehicleWaitingOutSide_AutoGenerated?";

        var PRG_Type = $("select[name=PRG_Type]").val();
        if (PRG_Type != '') {
            url = url + "&PRG_Type=" + PRG_Type;
        } else {
            url = url + "&PRG_Type=";
        }

        var ReportDate = $("input[name=ReportDate]").val();
        if (ReportDate != '') {
            url = url + "&ReportDate=" + ReportDate;
        } else {
            url = url + "&ReportDate=";
        }

        var FK_Depo = $("select[name=FK_Depo]").val();
        if (FK_Depo != '') {
            url = url + "&FK_Depo=" + FK_Depo;
        } else {
            url = url + "&FK_Depo=";
        }

        var RegistrationNumber = $("input[name=RegistrationNumber]").val();
        if (RegistrationNumber != '') {
            url = url + "&RegistrationNumber=" + RegistrationNumber;
        } else {
            url = url + "&RegistrationNumber=";
        }

        var MinimumStayMinute = $("input[name=MinimumStayMinute]").val();
        if (MinimumStayMinute != '') {
            url = url + "&MinimumStayMinute=" + MinimumStayMinute;
        } else {
            url = url + "&MinimumStayMinute=";
        }

        if (PRG_Type == '' || ReportDate == '') {
            alert("Please, Select PRG Type and Report date.");
            return;
        }

        window.location = url;
    }

</script>

