@*@model _3rdEyE.Models.AppRole*@
@model Tuple<_3rdEyE.Models.MobileRole, List<_3rdEyE.ManagingTools.MobileMenu>>

<section class="content-header">
    <h1>
        View Role
        <small></small>
    </h1>
    <div class="breadcrumb">
        <a class="btn btn-block btn-info btn-sm" href="@System.Web.HttpContext.Current.Request.UrlReferrer">Back To List</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Role Information</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form name="ThisForm" class="form-horizontal" method="post" action="/AppRoles/Manage">
                    <input name="FK_AppRole" value="@Model.Item1.PK_MobileRole" type="text" class="form-control" style="display:none;">
                    <input name="PermittedMenus" id="PermittedMenus" type="text" style="display:none;" />
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label">FullName*</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Item1.FullName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_FullName"></b>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check = $('inpit[name=FullName]').val();
                                            if (check == "") {
                                                formValidity = false;
                                                $('b[name=error_FullName]').html("FullName is required.");
                                            }
                                        });
                                </script>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label">Note*</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Item1.Note, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <b class="errorMessage" data-category="errorMessage" name="error_Note"></b>
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="content">
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <table id="data_table" class="table table-bordered table-striped">
                                        <tbody id="data_tbody">
                                            @foreach (var menu in Model.Item2.OrderBy(m => m.FullName).Where(m => m.IsAccessible == true))
                                            {
                                                <tr id="tr_menu_@menu.PK_MobileMenu" style="background-color:#3486eb;">
                                                    <td colspan="2">
                                                        @*&nbsp; <input type='checkbox' name='menuPermssionCehckBoxes' id="menuPermssionCehckBox_@menu.PK_AppMenu" value='@menu.PK_AppMenu' @(menu.IsAccessible == true ? "checked" : "") onchange="toggleSubMenu(@menu.PK_AppMenu)" /> &nbsp; @menu.VisibleName*@
                                                        &nbsp; <input type='checkbox' name='menuCehckBox_@menu.PK_MobileMenu' id="menuPermssionCehckBox_@menu.PK_MobileMenu" value='@menu.PK_MobileMenu' @(menu.IsAccessible == true ? "checked" : "") onchange="toggleSubMenu(@menu.PK_MobileMenu)" /> &nbsp; @menu.FullName
                                                        <span id="span_menuSequence_@menu.PK_MobileMenu" style="@(menu.IsAccessible == true ? "" : "display:none;")">
                                                            &nbsp; Sequence: <input type='number' name='menuSequence_@menu.PK_MobileMenu' value="@menu.Sequence" min="0" style="width:50px;" />
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        @*<input type="button" class="btn btn-facebook center-block" value="Save" onclick="TryUpdateMenuPermission()" />*@
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<script>
    $(function () {
        $('input').attr("disabled", "disabled");
    });
</script>