@model IEnumerable<_3rdEyE.Models.TemporaryVehicle>

@{
    ViewBag.Title = "Vehicle list";
}

@*Select2*@
<link href="~/Theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
<!-- DataTablesExportable -->
<link href="~/Content/ExportableDatatable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/ExportableDatatable/buttons.dataTables.min.css" rel="stylesheet" />
@{
    string ConvertToDateTimeString(DateTime? dateTime)
    {
        return String.Format("{0:yyyy/MM/dd HH:mm}", dateTime);
    }
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Temporary Vehicle List
        <small></small>
    </h1>
    <div class="breadcrumb">
        @*<button type="button" class="btn btn-block btn-info btn-sm">Info</button>*@
        @*<a class="btn btn-block btn-info btn-sm" href="/TemporaryVehicle/Create">Create</a>*@
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Temporary Vehicle List</h3>
                </div>
                <div class="row">
                    <div class="box-body col-md-12">
                        <div class="form-group col-md-4">
                            <label class="col-md-4 control-label">Location:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("FK_Location", ViewBag.Locations as SelectList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-md-4 control-label">Reg. Number:</label>
                            <div class="col-md-8">
                                <input id="RegistrationNumber" name="RegistrationNumber" value="@ViewBag.RegistrationNumber" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-12">
                        <div class="col-md-2">
                            <button class="btn btn-facebook" onclick="FilterByInputToRedirectView()">Filter</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="overflow-x:scroll;">
                    <table id="data_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Registration No
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Gate
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    In Time
                                </th>
                                <th>
                                    Entry Count
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRG_Type.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppUser.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Location.Name)
                                    </td>
                                    <td>
                                        @ConvertToDateTimeString(item.IssueDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EntryCount)
                                    </td>
                                    <td>
                                        @if (item.StatusText == "Created" || item.StatusText == "Updated")
                                        {
                                            <text>&nbsp;</text><a title="View" href="/Vehicle/AddToVehicle?id=@item.PK_TemporaryVehicle">Add To Vehicle</a><text>&nbsp;</text>
                                        }
                                        <a title="View" href="/VehicleGateNew/Delete?id=@item.PK_TemporaryVehicle">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@*Select2*@
<script src="~/Theme/bower_components/select2/dist/js/select2.min.js"></script>
<script>
    $(function () {
        $('select').select2();
    });
</script>
<!-- DataTablesExportable -->
<script src="~/Scripts/Custom/DataTableExportable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.flash.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/jszip.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/pdfmake.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/vfs_fonts.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.html5.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.print.min.js"></script>
<script>
    $(function () {
        $('#data_table').DataTable({
            "ordering": true,
            "paging": false,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<script>
    function FilterByInputToRedirectView() {
        var url = "/VehicleGateNew/TemporaryVehicleIndex?";
        var FK_Location = $("select[name=FK_Location]").val();
        if (FK_Location != '') {
            url = url + "FK_Location=" + FK_Location;
        } else {
            url = url + "FK_Location=null";
        }

        var RegistrationNumber = $("input[name=RegistrationNumber]").val();
        if (RegistrationNumber != '') {
            url = url + "&RegistrationNumber=" + RegistrationNumber;
        } else {
            url = url + "&RegistrationNumber=";
        }

        window.location = url;
    }
</script>

